<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="./js/app.js"></script>
</head>
<body>
    <h1>
        {{pageName}}
    </h1>

    <h2>
        {{createdBy}}
    </h2>
    {{>footer}}
</body>
</html>